@model List<Domain.Interfaces.IItemValidating>

<h2>Catalog</h2>

<div class="container">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync(item.GetCardPartial(), item)
    }
</div>
